<div class="card">
  <div class="card-header">
    <h2>Contact Us</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h3>Thank you for your interest in PRAXIS!</h3>
            <p>
              We hope to ease the process of applying by addressing your questions as quickly as possible.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>EMAIL:</h5>
          </div>
          <div class="card-body">
            <p>
              <strong>
                <span>PSL Colombia</span>
              </strong>
              <br>
              psl@psl.com
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>PHONE:</h5>
          </div>
          <div class="card-body">
            <p>
              You can reach us by phone from 9 a.m. to 5 p.m. Monday through Friday.
            </p>
            <p>
              <strong>
                <span>PSL Medellín</span>
              </strong>
              <br>
              (574) 372 20 22
            </p>
            <p>
              <strong>
                <span>Free national phone line</span>
              </strong>
              <br>
              01 8000 111775
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img class="card-img" src="../../../assets/Images/contactUs.jpg" alt="Card image">
        </div>
      </div>
    </div>
  </div>
</div>
