.admin-header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
}

.load-button {
    margin-right: 10px;
}

.praxis-title {
    text-align: right;
}

.praxis-title, .header-buttons .btn {
    margin-top: 5px;
}

.tabs .tab-content {
    padding-top: 20px;
}

.nav-students table .form-control {
    max-width: 50px;
}

.nav-students table .team-col {
    width: 55px;
}

.nav-candidates table .video-col {
    font-size: 30px;
    line-height: 45px;
    padding: 0;
    width: 55px;
    text-align: center;
}

.nav-candidates table .accepted-col {
    width: 30px;
    text-align: center;
}

#nav-professors .save-button {
    margin-right: 10px;
}

#nav-classes .card p {
    margin-bottom: 0;
}
#nav-classes .classes {
    margin-bottom: 20px;
}

.nav-students table input::-webkit-outer-spin-button,
.nav-students table input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}