
<div class="table ">
  <tr>
    <td>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3>
            PSL
          </h3>
          <p>
            PSL is an agile software development company, specialized in offering
            IT services from its development centers in Latin America.
            PSL is the leading Colombian exporter of software services to the US.
          </p>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3>
            New Applicant
          </h3>
          <p>
            Cheer up, we would like to have new talents!
          </p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" routerLink="/signUp">
              Sing Up
            </button>
          </div>
          <br>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h3>
                PRAXIS
              </h3>
              <p>
                PRAXIS is an educational program for university students who want to
                perform their intership or apply for their first job at PSL.
              </p>
            </div>
          </div>
    </td>
    <td>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h3>
                Registered Users
              </h3>
              <p>
                  have an account? Sign in now.
              </p>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" routerLink="/signIn">
                  Sing In
                </button>
              </div>


            </div>
          </div>
    </td>
  </tr>
</div>
