<div class="container-fluid">
      <div class="row my-3">
          <div class="col-sm-6">
            <div class="card">
              <h4 class="card-header">PSL</h4>
              <div class="card-body">
                <p align="justify" class="card-text">
                  PSL is an agile software development company, specialized in offering
                  IT services from its development centers in Latin America.
                  PSL is the leading Colombian exporter of software services to the US.
                </p>
              </div>
            </div>
            <br><br>
              <div class="card">
                <h4 class="card-header">PRAXIS</h4>              
                <div class="card-body">         
                  <p align="justify" class="card-text">
                    PRAXIS is an educational program for university students who want to
                    perform their intership or apply for their first job at PSL.
                  </p>
                </div>
              </div>
              <br><br>
            </div>
          <div class="col-sm-6">
              <div class="card">
                <h4 align="center" class="card-header">New Applicant</h4>
                <div class="card-body">
                  <p align="center" class="card-text">
                    Cheer up, we would like to have new talents!
                  </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" routerLink="/signUp">
                      Sing Up
                    </button>
                  </div>
                  <br>
                </div>
              </div>
              <br><br>
            <div class="card">
              <h4 align="center" class="card-header">Registered Users</h4>                 
              <div class="card-body">         
                <p align="center" class="card-text">
                    have an account? Sign in now.
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-secondary" routerLink="/signIn">
                    Sing In
                  </button>
                </div>
              </div>
            </div>
        </div>    
      </div>
</div>
