<div class="table">
  <tr>
    <td>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3>
            PSL
          </h3>
          <p>
            short description abput psl
          </p>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3>
            New Applicant
          </h3>
          <p>
            short description abput psl
          </p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" routerLink="/signUp">
              Sing Up
            </button>
          </div>


        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h3>
                PRAXIS
              </h3>
              <p>
                short description about Praxis
              </p>
            </div>
          </div>
    </td>
    <td>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h3>
                Registered Users
              </h3>
              <p>
                  have an account? sign in now.
              </p>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" routerLink="/signIn">
                  Sing In
                </button>
              </div>
    
    
            </div>
          </div>
    </td>
  </tr>
</div>
