<div class="row mt-2 justify-content-center">
  <h2>Create my Account</h2>
</div>
<div class="row justify-content-center">

  <ul class="nav nav-pills my-1 " id="pills-tab" role="tablist">
      <li class="nav-item">
          <a [class]="c1" id="pills-information-tab" data-toggle="pill" href="#pills-information" role="tab"
            aria-controls="pills-information" (click)="funcion1()" [aria-selected]="a1">Basic Information</a>
        </li>
    <li>
      <div id="bartep" class="progress bt">
        <div class="progress-bar"  role="progressbar" [style.width]="section1" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </li>
    <li class="nav-item ">
        <a [class]="c2" (click)="funcion2()" id="pills-account-tab"  data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account"
        [aria-selected]="a2">Account Information</a>
      </li>

    <li>
      <div id="bartep" class="progress bt">
        <div class="progress-bar" role="progressbar" [style.width]="section2" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </li>

    <li class="nav-item ">
        <a [class]="c3" (click)="funcion3()"  id="pills-submit-tab"  data-toggle="pill" href="#pills-submit" role="tab" aria-controls="pills-submit"
        [aria-selected]="a3">Video and Submit</a>
      </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card px-2 py-2">
          <div class="card-header">
            Personal Information
          </div>
          <div class="card-body py-1">
            <div class="form-group">
              <label for="namen">Name</label>
              <input class="form-control" type="text" name="namen" id="namen" [(ngModel)]="namen" required>
              <div *ngIf="length(namen,6,40 )" class="alert alert-danger">
                <ul class="help-block ">
                  <li *ngIf="length(namen,6,40 )">Name is required </li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input class="form-control" type="text" name="lastname" id="lastname" [(ngModel)]="lastname" required>
              <div *ngIf="length(lastname,1,40 )" class="alert alert-danger">
                <ul class="help-block ">
                  <li *ngIf="length(lastname,1,40 )">Lastname is required</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="selfDescription">Small Self Description</label>
              <textarea class="form-control" id="selfDescription" name="selfDescription" [(ngModel)]="selfDescription"
                placeholder="Tell us somethings about yourself" rows="3">
              </textarea>
            </div>

          </div>

        </div>


      </div>
      <div class="col-5">
        <div class="card px-2 py-2">
          <div class="card-header">
            Academic Information
          </div>
          <div class="card-body py-1">
            <div class="form-group">
              <label for="lastname">Email</label>
              <input class="form-control" type="email" name="email" id="email" [(ngModel)]="email" required>
              <div *ngIf="length(email,6,40) || validateEmail()" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="length(email,1,40)">Email is required</li>
                  <li *ngIf="validateEmail()">Email format should be valid</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" class="form-control" name="phone" id="phone" [(ngModel)]="phone" required>
              <div *ngIf="length(phone,6,40)" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="length(phone,1,12)">Phone is required</li>
                  <li *ngIf="length(phone,1,12)">Phone format should be valid</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label>Choose your University</label>
              <ng-select [items]="universities" placeholder="Select University" [clearable]="false" [(ngModel)]="selectedUniviversity">
              </ng-select>
            </div>


            <div class="form-group">
              <label for="exampleFormControlSelect1">PRAXIS modality</label><br>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" value="firstjob" [(ngModel)]="praxisModality" name="customRadioInline1"
                  class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">First Job</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" value="intership" [(ngModel)]="praxisModality" name="customRadioInline1"
                  class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Intership</label>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
    <div class="row mt-2 justify-content-center">
      <button id="n1" (click)="s1n()" type="button" class="btn  btn-secondary">
        Next
      </button>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card px-2 py-2">
          <div class="card-header">
            Account Information
          </div>

          <div class="card-body py-1">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" name="username" id="username" [(ngModel)]="username" required>
              <div *ngIf="length(username,1,40 )" class="alert alert-danger">
                <ul class="help-block ">
                  <li *ngIf="length(username,1,40 )">Username is required</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="text" name="password" id="password" [(ngModel)]="password" required>
              <div *ngIf="length(password,6,16 ) || validateSpace(password)" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="length(password,6,16 ),">Password length should be betwen 6 and 16 characters</li>
                  <li *ngIf="validateSpace(password)">Password can't contain spaces</li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Password</label>
              <input type="password" class="form-control" id="repassword" required [(ngModel)]="repassword" name="repassword">
              <div *ngIf="(password != repassword)||length(repassword,6,16 )" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="(password != repassword)">Passwords not match</li>
                </ul>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <button id="b2" (click)="s2b()" type="button" class="btn  btn-secondary">
        Back
      </button>
      <button id="n2" (click)="s2n()" type="button" class="btn  btn-secondary">
        Next
      </button>

    </div>
  </div>

  <div class="tab-pane fade" id="pills-submit" role="tabpanel" aria-labelledby="pills-submit-tab">


    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Personal Information
          </div>
          <div class="card-body">
            <label><b>Name: </b></label>{{namen}}<br>
            <label><b>Last Name: </b></label>{{lastname}}<br>
            <p><label><b>Self Description:</b></label>{{selfDescription}}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Academic Information
          </div>
          <div class="card-body">
            <label><b>Email: </b></label>{{email}}<br>
            <label><b>Phone: </b></label>{{phone}}<br>
            <label><b>University: </b></label>{{selectedUniviversity.name}}<br>
            <label><b>PRAXIS modality: </b></label>{{praxisModality}}<br>
          </div>
        </div>


        <div class="card">
          <div class="card-header">
            <b>Username </b> <br>
          </div>
          <div class="card-body">
            {{username}}
          </div>
        </div>


      </div>
      <div class="col-8">

        <div class="row justify-content-center">

          <record-rtc></record-rtc>

        </div>
        <div class="row">
          <div class="card">
            <div class="card-header">
              Video Requierements
            </div>
            <div class="card-body">
              <div class="table mx-0 px-0 py-0 px-0">
                <tr>
                  <td>
                    ■ Video de menos de 2 minutos
                  </td>
                  <td>
                    ■ Expectativas sobre el Praxis
                  </td>
                </tr>
                <tr>
                  <td> ■ Que puede aportar al Praxis</td>
                  <td> ■ otro item</td>
                </tr>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="(password != repassword)||length(namen,6,40 )||length(lastname,6,40 )||length(email,1,40)||
      validateEmail()||length(phone,1,12)||length(phone,6,15)||length(username,1,40 )||length(password,6,16 )||
      validateSpace(password)"
      class="alert alert-danger" id="submit-Alert">
      <h6>Problems in your register form</h6>
      <ul class="help-block">
        <li *ngIf="length(namen,6,40 )||length(lastname,6,40 )||length(email,1,40)||
            validateEmail()||length(phone,1,12)||length(phone,6,15)">
          <h6>Check
            your Basic information</h6>
        </li>
        <li *ngIf="(password != repassword)||length(username,1,40 )||length(password,6,16 )||
            validateSpace(password)">
          <h6>Check your Account information</h6>
        </li>
      </ul>
    </div>

    <div *ngIf="upload" class="div">
      <div class="row">
        <div class="col-4">
          <div class="card   bg-dark">
            <div class="card-header bg-dark text-white text-center ">
              Uploading Information
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="progress " style="height: 30px;">
            <div class="progress-bar   " role="progressbar" [style.width]="progress+'%'" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <h4>{{progress}}%</h4>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-2 justify-content-center">
      <button id="b3"(click)="s3b()" type="button" class="btn  btn-secondary">
        Back
      </button>



      <button type="button" (click)="submit()" class="btn btn-primary  bg-primary text-white" [!disabled]="(password != repassword)||length(namen,6,40 )||length(lastname,6,40 )
       ||length(email,1,40)||
       validateEmail()||
       length(phone,1,12)||
       length(phone,6,15)||
       length(username,1,40 )||
       length(password,6,16 )||
       validateSpace(password) "
        data-toggle="modal" data-target="#exampleModal">
        Submit
      </button>
    </div>
  </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Toda tu informacion es correcta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="submit2()" data-dismiss="modal" class="btn btn-primary bg-primary text-white ">Confirm
          Register</button>
      </div>
    </div>
  </div>
</div>