<div class="row mt-2 justify-content-center">
  <h2>Create my Account</h2>
</div>
<div class="row justify-content-center">

  <ul class="nav nav-pills my-1 " id="pills-tab" role="tablist">
    <li class="nav-item px-5">
      <a class="nav-link active" id="pills-information-tab" data-toggle="pill" href="#pills-information" role="tab"
        aria-controls="pills-information" aria-selected="true">Information</a>
    </li>
    <li class="nav-item px-5">
      <a class="nav-link" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account"
        aria-selected="false">Account</a>
    </li>
    <li class="nav-item px-5 ">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
        aria-selected="false">Video </a>
    </li>
    <li class="nav-item px-5">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
        aria-selected="false">Submit</a>
    </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card px-2 py-2">
          <div class="card-header">
            Personal Information
          </div>
          <div class="card-body py-1">
            <div class="form-group">
              <label for="namen">Name</label>
              <input class="form-control" type="text" name="namen" id="namen" [(ngModel)]="namen" required>
              <div *ngIf="length(namen,6,40 )" class="alert alert-danger">
                <ul class="help-block ">
                  <li *ngIf="length(namen,6,40 )">Name is required </li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input class="form-control" type="text" name="lastname" id="lastname" [(ngModel)]="lastname" required>
              <div *ngIf="length(lastname,1,40 )" class="alert alert-danger">
                <ul class="help-block ">
                  <li *ngIf="length(lastname,1,40 )">Lastname is required</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="selfDescription">Small Self Description</label>
              <textarea class="form-control" id="selfDescription" name="selfDescription" [(ngModel)]="selfDescription"
                placeholder="Tell us somethings about yourself" rows="3">
                </textarea>
            </div>

          </div>

        </div>


      </div>
      <div class="col-5">
        <div class="card px-2 py-2">
          <div class="card-header">
            Academic Information
          </div>
          <div class="card-body py-1">
            <div class="form-group">
              <label for="lastname">Email</label>
              <input class="form-control" type="email" name="email" id="email" [(ngModel)]="email" required>
              <div *ngIf="length(email,6,40) || validateEmail()" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="length(email,1,40)">Email is required</li>
                  <li *ngIf="validateEmail()">Email format should be valid</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" class="form-control" name="phone" id="phone" [(ngModel)]="phone" required>
              <div *ngIf="length(phone,6,40)" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="length(phone,1,12)">Phone is required</li>
                  <li *ngIf="length(phone,1,12)">Phone format should be valid</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label>Universidad</label>
              <ng-select [items]="universities" bindLabel="name" placeholder="Select University" [(ngModel)]="selectedUniviversity">
              </ng-select>

            </div>


            <div class="form-group">
              <label for="exampleFormControlSelect1">PRAXIS modality</label><br>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" value="firstjob" [(ngModel)]="praxisModality" name="customRadioInline1"
                  class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">First Job</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" value="intership" [(ngModel)]="praxisModality" name="customRadioInline1"
                  class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Intership</label>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
    <div class="row mt-2 justify-content-center">
      <button id="n1" type="button" class="btn  btn-secondary">
        Next
      </button>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card px-2 py-2">
          <div class="card-header">
            Account Information
          </div>

          <div class="card-body py-1">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" name="username" id="username" [(ngModel)]="username" required>
              <div *ngIf="length(username,1,40 )" class="alert alert-danger">
                <ul class="help-block ">
                  <li *ngIf="length(username,1,40 )">Username is required</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="text" name="password" id="password" [(ngModel)]="password" required>
              <div *ngIf="length(password,6,16 ) || validateSpace(password)" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="length(password,6,16 ),">Password length should be betwen 6 and 16 characters</li>
                  <li *ngIf="validateSpace(password)">Password can't contain spaces</li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Password</label>
              <input type="password" class="form-control" id="repassword" required [(ngModel)]="repassword" name="repassword">
              <div *ngIf="(password != repassword)||length(repassword,6,16 )" class="alert alert-danger">
                <ul class="help-block">
                  <li *ngIf="(password != repassword)">Passwords not match</li>
                </ul>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <button id="b2" type="button" class="btn  btn-secondary">
        Back
      </button>
      <button id="n2" type="button" class="btn  btn-secondary">
        Next
      </button>

    </div>
  </div>

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="row justify-content-center">
      <div class="col-6">
        <record-rtc></record-rtc>
      </div>
      <div class="col-3">
        <h5>
          Video content
        </h5>
        <ul>
          <li>
            Presentation
          </li>
          <li>
            Expectations
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <button id="b3" type="button" class="btn  btn-secondary">
        Back
      </button>
      <button id="n3" type="button" class="btn  btn-secondary">
        Next
      </button>

    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
   
      
 <div class="row">
            <div class="col-5">
              <div class="card">
                <div class="card-header">
                  Personal Information
                </div>
                <div class="card-body">
                  <label><b>Name: </b></label>{{namen}}<br>
                  <label><b>Last Name: </b></label>{{lastname}}<br>
                  <p><label><b>Self Description:</b></label>{{selfDescription}}</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Academic Information
                </div>
                <div class="card-body">
                    <label><b>Email: </b></label>{{email}}<br>
                    <label><b>Phone: </b></label>{{phone}}<br>
                    <label><b>University: </b></label>{{selectedUniviversity.name}}<br>
                    <label><b>PRAXIS modality: </b></label>{{praxisModality}}<br>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                      Account Information
                    </div>
                    <div class="card-body">
                        <label><b>Username: </b></label>{{username}}<br>
                        <label><b>Password: </b></label>■╬■■∟■■■☻♥☺☺<br>
                    </div>
                  </div>
              <div class="card">
                <div class="card-header">
                  Your Video
                </div>
                <div class="card-body">
                  
                </div>
              </div>

            </div>
          </div>

    
    <div class="row mt-2 justify-content-center">
      <button id="b4" type="button" class="btn  btn-secondary">
        Back
      </button>
      <button id="sendInformation" (click)="test()" type="button" class="btn btn-lg bg-primary text-white">
        Submit
      </button>
    </div>
  </div>
</div>
