<html>

<body>

  <div class="container-fluid">
    <h2>GRADES</h2>
    <p>Here you can see your notes on the course</p>
    <div class="table-responsive">
       <table class="table ">
        <thead class="thead-dark">
          <tr class="my-0 py-0">
             <th>Name</th><th>Team</th><th class="text-center">Class</th>
          </tr>

        </thead>
        <tbody>
              <tr>
                <td>Santiago Cadavid</td><td>2</td><td class=" my-0 py-0"><table class="table table-bordered my-0 py-0 "><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th></table></td>
              </tr>
              <tr>
                <td>Juan Fernandez</td><td>2</td><td class=" my-0 py-0"><table class="table table-bordered my-0 py-0 "><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th></table></td>
              </tr>
              <tr>
                <td>Jose Posada</td><td>2</td><td class=" my-0 py-0"><table class="table table-bordered my-0 py-0 "><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th></table></td>
              </tr>
              <tr>
                <td>Alejandro Holguin</td><td>2</td><td class=" my-0 py-0"><table class="table table-bordered my-0 py-0 "><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th></table></td>
              </tr>
              <tr>
                <td>Rafael Jimenez</td><td>2</td><td class=" my-0 py-0"><table class="table table-bordered my-0 py-0 "><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th></table></td>
              </tr>
              <tr>
                <td>Cristian Guzman</td><td>2</td><td class=" my-0 py-0"><table class="table table-bordered my-0 py-0 "><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th><th>5</th></table></td>
              </tr>
        </tbody>

    </table>
    </div>

  </div>

</body>

</html>
