.table-hover{
  text-align: center;
  color: #336699;
  background-color: ivory;
  border-top-color: #336699;
}
.table-bordered{
  text-align: center;
  color: #336699;
  font-weight: bold;
}

td{
  text-align: center;
}
